<html>
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container centered">
    {{ with .Errors.Generic }}
        <p class="error">{{ . }}</p>
    {{ end }}
    <form action="profile-edit" method="post" novalidate>
        {{ with .Errors.Username }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Username:<input type="email" name="username" value="{{ .Username }}" {{if eq .Type "google"}} readOnly {{end}} ></div>
        {{ with .Errors.FullName }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Full Name:<input type="text" name="fullname" value="{{ .FullName }}"></div>
        {{ with .Errors.Address }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Address:<input type="text" name="address" value="{{ .Address }}"></div>
        {{ with .Errors.Telephone }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Telephone:<input type="text" name="telephone" value="{{ .Telephone }}"></div>
        <input name="type" type="hidden" value="{{ .Type }}">

        <button type="button" onclick="window.location.href='/profile'">Cancel</button>
        <input type="submit" value="Save & Continue">
    </form>
</div>
</body>
</html>
