<html>
    <head>
        <title>Forgot Password</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
<body>
<div class="container centered">

    {{ with .Errors.Generic }}
        <p class="error">{{ . }}</p>
    {{ end }}
    <form action="/forgot" method="post">
        <div>
            {{ with .Errors.Username }}
                <p class="error">{{ . }}</p>
            {{ end }}
            Username:<input type="text" name="username" value="{{ .Username}}">
        </div>
        <div>
            <button type="button" onclick="window.location.href='/login'">Back To Login</button>
            <input type="submit" value="Send Reset Link" {{if .Success }} disabled {{end}}>
        </div>
    </form>
    <p {{if not .Success }} hidden {{end}} class="success"> We've sent a reset link to your email</p>
</div>
</body>
</html>