<html>
<head>
    <title>Home - Login Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container centered">
    {{ with .Errors.Generic }}
        <p class="error">{{ . }}</p>
    {{ end }}
    <form action="/login" method="post">

        {{ with .Errors.Username }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Username:<input type="text" name="username"></div>

        {{ with .Errors.Password }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Password:<input type="password" name="password"></div>

        <a href='{{.GoogleLink}}'><button type="button">SignIn with Google!</button></a>
        <input type="submit" value="Login">
    </form>

    <div>
        <button type="button" onclick="window.location.href='/signup'">New User Sign-Up</button>
        <button type="button" onclick="window.location.href='/forgot'">Forgot Password</button>
    </div>
</div>
</body>
</html>