<html>
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container centered">
    <div>Username: {{.Username}}</div>
    <div>Full Name: {{.FullName}}</div>
    <div>Address: {{.Address}}</div>
    <div>Telephone: {{.Telephone}}</div>
    <div>
        <button onclick="window.location.href='/profile-edit'">Edit</button>
        <button onclick="window.location.href='logout'">Logout</button>
    </div>
</div>
</body>
</html>