<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container centered">
    {{ with .Errors.Generic }}
        <p class="error">{{ . }}</p>
    {{ end }}
    <form action="/reset-password" method="post">
        {{ with .Errors.Password }}
        <p class="error">{{ . }}</p>
        {{ end }}
        <input hidden type="text" name="token" value="{{.Token}}">
        <div>New Password:<input required type="password" name="password"></div>
        <div>Password confirmation:<input required type="password" name="password2"></div>
        <input type="submit" value="Reset">
    </form>
</div>
</body>
</html>