<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="container centered">
    {{ with .Errors.Generic }}
        <p class="error">{{ . }}</p>
    {{ end }}
    <form action="/signup" method="post">

        {{ with .Errors.Username }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Username:<input type="email" name="username" value="{{ .Username }}"></div>

        {{ with .Errors.Password1 }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Password:<input type="password" name="password" value="{{ .Password }}"></div>

        {{ with .Errors.Passwor2 }}
            <p class="error">{{ . }}</p>
        {{ end }}
        <div>Password confirmation:<input type="password" name="password2" value="{{ .Password2 }}"></div>

        <input type="submit" value="Sign Up">
    </form>

    <div>
        <div>Or</div>
        <a href='{{.GoogleLink}}'><button>SignUp with Google!</button></a>
        <button onclick="window.location.href='/login'">Existing User Login</button>
    </div>
</div>
</body>
</html>